/*
Table of Contents
------------------
1.Header
2.Body/Main/Form
3.Footer
*/

/*------------------------------------------Header---------------------------------------------------------------------------------*/

/*
-Creates a Turquoise nav bar content box with a gray solid border and an opacity of 70% that extends the full width of the page.
-All text within the navbar box will be centered and will have a font size of 30 pixels.
*/

nav {
	background-color: turquoise;
	text-align: center;
	position: relative;
	bottom: 7px;
	right: 8px;
	width: 100.5%;
	font-size: 30px;
	height: 50px;
	border: solid gray;
	opacity: 70%;
}
/*
-Selecting anchor tag that is nested within navbar element
-Pushes the anchor content box down by 8 pixels within the nav bar content box
-Adds padding to all sides of the content in the anchor element's content box
*/

nav a {
	position: relative;
	top: 8px;
	padding: 8.5px 40px;
}
/*-Initializes all anchor element links to have a white font color at start with no decoration(underline)*/

a:link {
	text-decoration: none;
	color: white;
}
/*-Keeps the font color of all anchor element links white after they have been visited(clicked on)*/

a:visited {
	color: white;
}
/*
-Selects Anchor elements nested in nav element
-Changes the font color to turquoise and the background color to black when a mouse hovers over a link 
*/

nav a:hover {
	background-color: black;
	color: turquoise;
}
/*------------------------------------------Header---------------------------------------------------------------------------------*/

/*------------------------------------------Body/Main/Form---------------------------------------------------------------------------------*/

/*
-sets the backround image using a relative path to an image found within the directory
*/

body {
	background-image: url("../images/cat.webp");
}
/*
-Creates a turquoise and see through overlay content box with a gray border to be used as a form.
-All text and content within box will be centered.
-border of content box shall be curved at edges.
*/

.form-overlay {
	top: 80px;
	left: 400px;
	text-align: center;
	position: relative;
	background: rgba(26, 182, 169, 0.7);
	color: white;
	height: 610px;
	width: 56%;
	border: solid gray;
	border-radius: 35px;
}
/*-Creates space between each input and all other content boxes on the top and bottom*/

input {
	Margin: 30px 0px;
}
/*-Changes the color and extends the height of each hr */

hr {
	height: 3px;
	color: gray;
	background-color: gray;
	border: none;
}
/*
-Creates a submit button content box with a gray border and padding on all sides
-border has curves on edges and text font will be 18 pixels
*/

.submit-button {
	font-size: 18px;
	position: relative;
	bottom: 10px;
	border: solid gray;
	border-radius: 10px;
	padding: 5px;
}
/*-Submit button content box background will turn black and font color will turn turquoise when mouse hovers over content box*/

.submit-button:hover {
	background-color: black;
	color: turquoise;
}
/*Changes the font size and position of the "Thanks for the submission" message*/

.submission-header {
	top: 130px;
	position: relative;
	font-size: 100px;
}
/*------------------------------------------Body/Main/Form---------------------------------------------------------------------------------*/

/*------------------------------------------Footer---------------------------------------------------------------------------------*/

/*
-Creates a Turquoise footer bar content box with a gray solid border and an opacity of 70% that extends the full width of the page.
-All text within the navbar box will be centered and will have a font size of 30 pixels.
*/

footer {
	background-color: turquoise;
	top: 201px;
	position: relative;
	height: 50px;
	right: 8px;
	width: 100.5%;
	border: solid gray;
	opacity: 70%;
}
/*------------------------------------------Footer---------------------------------------------------------------------------------*/

/*CSS code minified/compressed to optimize webpage speed by reducing file size*/
/*nav{background-color:turquoise;text-align:center;position:relative;bottom:7px;right:8px;width:100.5%;font-size:30px;height:50px;border:solid gray;opacity:70%}nav a{position:relative;top:8px;padding:8.5px 40px}a:link{text-decoration:none;color:white}a:visited{color:white}nav a:hover{background-color:black;color:turquoise}body{background-image:url("cat.webp")}.form-overlay{top:80px;left:400px;text-align:center;position:relative;background:rgba(26, 182, 169, 0.7);color:white;height:610px;width:56%;border:solid gray;border-radius:35px}input{Margin:30px 0px}hr{height:3px;color:gray;background-color:gray;border:none}.submit-button{font-size:18px;position:relative;bottom:10px;border:solid gray;border-radius:10px;padding:5px}.submit-button:hover{background-color:black;color:turquoise}.submission-header{top:130px;position:relative;font-size:100px}footer{background-color:turquoise;top:201px;position:relative;height:50px;right:8px;width:100.5%;border:solid gray;opacity:70%}*/



  
